<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/developer/common/header"></div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>新增APP基础信息 <i class="fa fa-user"></i><small th:text="${session.SESSION_DEV_USER.getDevName()}"></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- <div class="item form-group">
                         <label class="control-label col-md-3 col-sm-3 col-xs-12" ></label>
                         <div class="col-md-6 col-sm-6 col-xs-12">
                           <form action="uploadlogo" class="dropzone" style="height:100px;">
                           </form>
                      <div class="clearfix"></div>
                   </div>
                 </div> -->
                <div class="clearfix"></div>
                <form class="form-horizontal form-label-left" th:action="@{/appInfo/appAdd}" method="post">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="softwareName">软件名称 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="softwareName" class="form-control col-md-7 col-xs-12"
                                   data-validate-length-range="20" data-validate-words="1" name="softwareName"
                                   required="required"
                                   placeholder="请输入软件名称" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="apkName">APK名称 <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="apkName" class="form-control col-md-7 col-xs-12"
                                   data-validate-length-range="20" data-validate-words="1" name="apkName"
                                   required="required"
                                   placeholder="请输入APK名称" type="text">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supportROM">支持ROM <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="supportROM" class="form-control col-md-7 col-xs-12" name="supportROM"
                                   data-validate-length-range="20" data-validate-words="1" required="required"
                                   placeholder="请输入支持的ROM" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="interfaceLanguage">界面语言 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="interfaceLanguage" class="form-control col-md-7 col-xs-12"
                                   data-validate-length-range="20" data-validate-words="1" name="interfaceLanguage"
                                   required="required"
                                   placeholder="请输入软件支持的界面语言" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="softwareSize">软件大小 <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" id="softwareSize" name="softwareSize" required="required"
                                   onkeyup="value=value.replace(/[^\d]/g,'')"
                                   data-validate-minmax="10,500" placeholder="请输入软件大小，单位为Mb"
                                   class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="downloads">下载次数 <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" id="downloads" name="downloads" required="required"
                                   data-validate-minmax="10,500" placeholder="请输入下载次数"
                                   class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="flatformId">所属平台 <span
                                class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="flatformId" id="flatformId" class="form-control" required="required"></select>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryLevel1">一级分类 <span
                                class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="categoryLevel1" id="categoryLevel1" class="form-control"
                                    required="required"> </select>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryLevel2">二级分类 <span
                                class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="categoryLevel2" id="categoryLevel2" class="form-control"
                                    required="required">
                                <option>请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="categoryLevel3">三级分类 <span
                                class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="categoryLevel3" id="categoryLevel3" class="form-control"
                                    required="required">
                                <option>请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">APP状态 <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="status" id="status" class="form-control"  required="required">
                                <option value="1">待审核</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="appInfo">应用简介 <span
                                class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea id="appInfo" name="appInfo" required="required"
                        placeholder="请输入本软件的相关信息，本信息作为软件的详细信息进行软件的介绍。"
                        class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                    </div>
                    <!-- <div class="item form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">LOGO图片 <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="file" class="form-control col-md-7 col-xs-12" name="a_logoPicPath"  required="required" id="a_logoPicPath"/>
                      ${fileUploadError }
                      </div>
                    </div>-->
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="send" type="submit" class="btn btn-success">保存</button>
                            <button type="button" class="btn btn-primary" id="back">返回</button>
                            <br/><br/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="/developer/common/footer"></div>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        var ctxPath = /*[[@{/}]]*/'';
        $.ajax({
            type: "post",//请求类型
            url: ctxPath + "dictionary/queryDictionary",//请求的url
            data: {typeCode: 'APP_FLATFORM'},//请求参数
            dataType: "json",//ajax接口（请求url）返回的数据类型
            success: function (data) {//data：返回数据（json对象）
                $("#flatformId option").remove();
                $.each(data, function (index, value) {
                    $("#flatformId").append("<option value='" + value.valueId + "'>" + value.valueName + "</option>");
                });
            },
            error: function (data) {//当访问时候，404，500 等非200的错误状态码
                alert("加载失败！" + data);
            }
        });


        $.ajax({
            type: "post",//请求类型
            url: ctxPath + "dictionary/queryDictionary",//请求的url
            data: {typeCode: 'APP_STATUS'},//请求参数
            dataType: "json",//ajax接口（请求url）返回的数据类型
            success: function (data) {//data：返回数据（json对象）
                $("#status option").remove();
                $("#status").append("<option value='0'>--请选择--</option>");
                $.each(data, function (index, value) {
                    $("#status").append("<option value='" + value.valueId + "'>" + value.valueName + "</option>");
                });
            },
            error: function (data) {//当访问时候，404，500 等非200的错误状态码
                alert("加载失败！" + data);
            }
        });

        queryCategory("categoryLevel1", null);
        // 绑定下拉框  选中结束 的事件
        $("#categoryLevel1").change(function () {
            if($(this).val()!=''){
                queryCategory("categoryLevel2", $(this).val());
            }
        });
        $("#categoryLevel2").change(function () {
            if($(this).val()!=''){
                queryCategory("categoryLevel3", $(this).val());
            }
        });
    });

    function queryCategory(level1, parentId) {
        var ctxPath = /*[[@{/}]]*/'';
        $.ajax({
            type: "post",//请求类型
            url: ctxPath + "category/queryCategoryList",//请求的url
            data: {parentId: parentId},//请求参数
            dataType: "json",//ajax接口（请求url）返回的数据类型
            success: function (data) {//data：返回数据（json对象）
                $("#" + level1 + " option").remove();
                $.each(data, function (index, value) {
                    $("#" + level1).append("<option value='" + value.id + "'>" + value.categoryName + "</option>");
                });
            },
            error: function (data) {//当访问时候，404，500 等非200的错误状态码
                alert("加载失败！" + data);
            }
        });
    }


</script>