<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>testThymeleaf</title>
</head>
<body>
    <h1 th:text="${backendUser.userName}"></h1>
    <hr/>
    <input type="text" th:value="${backendUser.userName}"/>
    <hr/>
    <ul th:object="${backendUser}">
        <li th:text="*{userName}"></li>
    </ul>
    <hr/>
    <!--  变量名：${} -->
    <ul th:each="user:${backendUserList}">
        <li th:text="${user.userName}"></li>
    </ul>
    <hr/>
    <!--  变量名：${} -->
    <ul th:each="user,stat:${backendUserList}">
        <li th:text="${stat.index}"></li>
        <li th:text="${stat.count}"></li>
        <li th:text="${user.userName}"></li>
    </ul>
    <hr/>
    <!-- 字符串拼接 -->
    <h1 th:text="'用户名：'+${backendUser.userName}"></h1>
    <hr/>
    <h1 th:text="|用户名:${backendUser.userName}|"></h1>
    <hr/>
    <h1 th:if="${backendUser.userCode eq 'admin'}">正确</h1>
    <h1 th:if="${backendUser.userCode != 'admin'}">不正确</h1>
    <img th:src="@{/static/images/img1.jpg}"/>

</body>
</html>