<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
</div>

</div>
<!-- /page content -->
<!-- footer content -->
<footer>
  <div class="pull-right">2016 All Rights Reserved.</div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>
<!-- jQuery -->
<script th:src="@{/static/js/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/static/js/fastclick.js}"></script>
<!-- NProgress -->
<script th:src="@{/static/js/nprogress.js}"></script>
<!-- jQuery custom content scroller -->
<script th:src="@{/static/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<!-- Custom Theme Scripts -->
<script th:src="@{/static/js/custom.min.js}"></script>
<!-- dropzone -->
<script th:src="@{/static/js/dropzone.js}"></script>
</body>
</html>


